{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <br>
    <br>
    <div class="justify-content-center mr-md-8">
        <form action="/tickets" method="POST">
            <div class="form-group row justify-content-md-center">
                <div class="col-md-8">
                    <input class="form-control" type="search" placeholder="Enter Ticket ID" aria-label="Search">
                </div>
            </div>
            <div class="form-inline row justify-content-md-center">
                <button type="submit" class="btn btn-info" name="submit" value="view_all">View All</button>
                <div class="col-md-auto">
                </div>
                <button type="submit" class="btn btn-info" name="submit" value="search_id">Search by ID</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}